.title {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}

.partition {
  border-left: 1px solid lightgray;
}

.searchBox {
  padding-top: 32px;
  margin-bottom: 30px;
}

.contactPhoto {
  margin-right: 15px;
}

@media all and (max-width: 993px) {
  .searchBtnBox {
    display: flex;
    justify-content: center;
  }
  .searchBtn {
    margin-top: 10px;
  }
}